<form>
    <div class="form-group">
        <label for="client">Client</label>
        <select class="form-control" #client (change)="onClientChange(client.value)">
            <option *ngFor="let c of clients" [value]="c.id">{{c.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="project">Project</label>
        <select class="form-control" #project (change)="onProjectChange(project.value)">
            <option *ngFor="let p of projects" [value]="p.id">{{p.name}}</option>
        </select>
    </div>
</form>